---
layout: default
---

{% include galheader.html %}

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
	<div class="container"></div>
    	<div class="col-md-5">
    <h3>{{ gallery.description }}</h3>
    <ol>
	
    {% for image in gallery.images %}
	
    
        {{ image.text }}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
    
 
    {% endfor %}

    </ol>
	</div>
	</div>
  {% endif %}
{% endfor %}
