---
layout: toplevelgallery
---




<br><br><br><br><br>
{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	 <div class="shell">
    	
   
    <ol>
	 <h3>{{ gallery.description }}</h3>
    {% for image in gallery.images %}
	
    
        {{ image.text }}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
    
 
    {% endfor %}

    </ol>
	</div>
	</div>
	</div>
	</div>
  {% endif %}
{% endfor %}
